.Sidebar{
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 300ms ease;
    display: flex;
    height: 7.6rem;
    font-weight: bold;
    font-size: 15pxpx;
}

.logo{  
    flex-direction: column;
    display: flex;
    height: 7.6rem;
    font-weight: bold;
    font-size: 2px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
}


.logo>img{
    width: 7.6rem;
    color: white;
}

.test-string{
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 300ms ease;
    display: flex;
    height: 7.6rem;
    font-weight: bold;
    font-size: 12px;
    padding-left: 22px;
    /* padding-left: 20px; */
    justify-content: center;
    align-items: center;

}

.test-string>span>span{
    color: var(--orange);
 
}

/* Menu */
.menu{
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    display: flex;
    /* align-items: center; */
    }
    
.menuItem {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.menuItem>img{
  height: 55px;
  padding-left: 5px;
  padding-right: 5px;

}